@import "../../styles/theme";
/* CONTENT */

/* HERO */

.hero{
    width: 960px;
    height: 428px;
    padding: 0;
    margin: 80px auto;
    text-align: left;
    .svg_rect{
        width: 553px;
        height: 353px;
    }
    &_row{
        display: flex;    
        justify-content: space-between;
        vertical-align: middle;
    }
    &_colllum{
        width: 308px;
        > p{
            color:$text-hero;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 16px;
            margin-bottom: 14.35px;
        }
    }
    .button_hero{
        background-color: $primary;
        color: var(--text-bth-light);
        width: 145px;
        &:hover {
            color: $primary;
            background-color: var(--text-bth-light);
            border: 1px solid $primary;
        }
    }
}

/* SUBSCRIBE */

.subscribe{
    display: flex;
    background-color: var(--bg-sub);
    height: auto;
    padding: 82px 0;
    text-align: center;
    justify-content: center;
    &_title{
        margin-bottom: 12px;
    }
    &_collum {
        width: 383px;
        > span{
        color: var(--text-subscribe);
        max-width: 383px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        }
        > a{
            color: var(--text-title);
            font-size: 12px;
            font-style: italic;
            font-weight: 700;
        }
    }
    &_button{
        display: flex;
        margin-top: 12px;
        margin-bottom: 15px;
        vertical-align:middle;
        justify-content:center;
    }
    .button_primary{
        background-color: var(--bth-subscribe);
        color:var(--text-bth-light);
        height:  40px;
        width: 98px;
        border-radius: 4px;
        &:hover {
            color: $primary;
            background-color: var(--text-bth-light);
            border: 1px solid $primary;
        }
    }
    .input_primary{
        display: block;
        width: 269px;
        height: 37px;
        margin-right: 16px;
        padding-left: 15px;
        border: 1px solid var(--input);
        border-radius: 4px;
        color: var(--input);
        font-size: 12px;
        &:focus {
            outline: 0;
            box-shadow: 0 0 0.3rem 0.15rem $shadow;
        }
    }
}

/* FEATURES */

.features{
    width: 960px;
    height: 1157px;
    margin: 40px auto;
    padding-top: 40px;
    text-align: left;
    &_title{
        margin-bottom: 60px;
    }
    &_row{
        display: flex;    
        justify-content: space-between;
        vertical-align: middle;
    }
    .row + .row{
        margin-top: 40px
    }
    &_colllum{
        width: 309px;
        margin:auto 0 ;
        > p{
            color:var(--text);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 3px;
        }
    }
    .svg_one{
        width: 553px;
        height: 265px;
    }
    .svg_two{
        width: 472px;
        height: 364px;
    }
    .svg_three{
        width: 472px;
        height: 341px;
    }
}

/* COMPANIES */

.companies{
    background-color: $purple;
    color:$secondary;
    text-align: center;
    width: auto;
    height: 269px;
    padding: 0;
    margin-bottom: 40px;
    &_logo{
        margin-top: 32px;
    }
    &_title{
        color: $secondary; //!important; 
        margin-bottom: 16px;
        padding-top: 32px;
    }
    .svg_companies{
        width: 100px;
        height: 100px;
    }
    .svg_companies + .svg_companies{
        margin-left: 78px;
    }
    .container > p{
        color:$secondary;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin: 0;
    }
}

/* TESTIMONIALS */

.testimonials{
    width: 960px;
    height: 399px;
    margin: 40px auto 0px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    .subtitle{
        color: var(--text);
        width: auto;
        height: 18.51px;
        text-align: center;
        margin: 25.23px auto 61px auto;
        font-size: 20px;
        font-weight: 400;
    }
    .review{
        display: flex;    
        justify-content: center;
        //margin: 0 auto;
        .colllum + .colllum{
            margin-left: 16px;
        }
        &_item{
            width: 309px;
            height: 266px;
            &-content{
                display: block;
                //width: 309px;
                height: 139px;
                background-color: $light;
                color:$text;
                box-shadow:0px 10px 20px $shadow;
                border-radius: 8px;
                &_comment{
                    padding: 16px 6.5px 11.6px 11.7px;
                    text-align: left;
                    line-height: 24px;
                    overflow: hidden;
                    font-style:italic;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            &-user{
                display: flex;    
                justify-content: flex-start;
                margin-top: 26.38px;
                font-weight: 500;
                .review_item-user_svg{
                    margin-right: 13px;
                    width: auto;
                    max-width: 100px;
                    max-height: 100px;
                    border-radius: 50%;
                }
                .user > p {
                    color: var(--text);
                    width: auto;
                    margin:8px 0px 50px 0px;
                }
                .user_name{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}

/* PRICE */

.price-list{
    background-color: var(--secondary-light);
    color: var(--text);
    text-align: center;
    //width: //auto;//959px;
    height: auto;
    padding: 51px 0 120px 0;
    margin: 40px auto;
    &_title {
        color: var(--text-h4);
    }
    .banner{
        display: flex;    
        height: 382px;
        justify-content: center;
        .colllum + .colllum{
            margin-left: 16px;
        }
        &-title{
            color:$light;
            line-height: 32px;
            font-weight: 700;
            font-size: 28px;
            font-style: bold;
        }
        &_item{
            display: flex;
            color: $secondary;
            box-shadow: 0 1px 5px -2px var(--bg);
            flex-direction: column;
            //width: 309px;
            width: 202px;
            height: 382px;
            padding:15px 54px 37px 54px;

            justify-content: space-between;
            align-content: space-around;
            align-items: center;
            .price{
                width: 136px;
                margin-bottom: 24px;
                margin-top: 24px;
                font-size: 80px;
                font-weight: 400;
                > sup  {
                    vertical-align: text-top;
                    font-size: 20px;
                    font-weight: 400;
                }
                > sub {
                    vertical-align:0;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
            > a {
                width: 202px;
                height: 104px;
                line-height: 24px;
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
            }
            .button_secondary{
                background-color:var(--bth-banner);
                color: var(--primary-light);
                &:hover {
                    background-color: $darkred;
                    color:var(--text-bth-light);
                    border: 1px solid var(--text-bth-light);
                }
            }
        }
        .pink{
            background-color: $primary;
        }
        .yellow{
            background-color: $mustard;
        }
        .purple{
            background-color:$purple;
        }
    }
}

//width: 1440px;
@media (max-width:1440px){
    .hero{
        width: auto;
        &_row{
            justify-content: space-around;
        }
    }
    .subscribe{
        .input_primary{
            width: 231px;
        }
        .button_primary{
            width: 136px;
        }
    }
    .features{
        width: auto;
        .svg_one{
            width: 488px;
        }
        &_row{
            justify-content: space-evenly;
        }
        &_colllum{
            padding-left: 10px;
            width: auto;
            max-width: 309px;
        }
    }
    .companies {
        &_logo{
            display: flex;
            justify-content: space-around;
            width: auto;
        }
        .svg_companies{
            width: 7vw;
            height: 7vw; 
            min-height: 74px;
            min-width: 74px; 
         }
        .svg_companies + .svg_companies{
            margin-left: 0;
        }
    }
    .testimonials {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        .review_item {
            width: 33vw;
            &-content{
            height: auto;
            }
            &-user {
                width: auto;
            }
            &-user_svg {
                width: 80px;
                height: 80px;
            }
        }
    }
    .price-list{
        .banner_item{
            padding-right: 3%;
            padding-left: 3%;
        }
    }
}

@media (max-width:800px){
    .hero {
        height: auto;
        .svg_rect{
            width: 50vw;
            padding: 0 10px;
        }
        &_row{
            align-items: center;
        }
        &_colllum p{
            margin-right: 24px;
            font-size: 16px;
        }
    }
    .features{
        width: auto;
        height: auto;
        padding-right: 24px;
        padding-left: 24px;
        margin-top: 80px;
        margin-bottom: 80px;
        .svg_one{
            width: 50vw;
            height: 167px;
        }
        .svg_two{
            width: 50vw;
            height: 257px;
        }
        .svg_three{
            width: 50vw;
            height: 252px;
        }

    }
    .companies{
        height: auto;
        padding-bottom: 66px;        
        .svg_companies{
            min-height: 33.8px;
            min-width: 33.8px;      
        }
    }
    .testimonials{
        height: auto;
        .subtitle{
            width: auto;
        }
        .review{
            flex-direction: column;
            align-items: center;
            &_item {
                width: 309px;
            }
            .colllum + .colllum{
                margin-top: 55px;
                margin-left: 0;
            }
        }

    }
    .price-list{
        width: auto;
        margin-bottom: 60px;
        .banner{
            flex-direction: column;
            align-items: center;
            height: auto;
            .colllum + .colllum{
                margin-top: 58px;
                margin-left: 0;
            }
            &_item{
                width: 202px;
                padding-right: 54px;
                padding-left: 54px;
            }
        }
    }
}

@media (max-width:400px){
    .hero {
        .svg_rect{
            width: 155px;
            height: 100px;
        }
        &_row{
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }       
    }
    .subscribe{
        height: auto;
        padding: 103px 0;
        .subscribe_button{
            width: auto;
            height: auto;
        }
        .input_primary{
            width: 182px;
            height: 28.6px;
            margin-right: 6.29px;
        }
        .button_primary{
            height: 32.6px;
            padding: 0;
        }
            &_collum{
            width: 327px;
        }
    }
    .features{
        padding-right: 40px;
        padding-left: 36px;
        &_title {
            font-size: 28px;
        }
        &_row{
            flex-direction: column;
            align-items: center;
        }
        .row_two {
            flex-direction: column-reverse;
        }
        .svg_one{
            width: 184px;
            height: 72px;
        }
        .svg_two{
            width: 190px;
            height: 118px;
        }
        .svg_three{
            width: 190px;
            height: 111px;
        }
    }
    .companies{
        padding-bottom: 51px;
    }
    .testimonials{
        .review_item {
            width: 288px;
        }
    }
    .price-list{
        .banner_item{
            width: 202px;
            padding-right: 54px;
            padding-left: 54px;
        }
    }
}